/** main.css **/
@CHARSET "UTF-8";

*{
	margin:auto;
	padding:0;
}

html{
	/**background:url('../img/bg_tile.jpg') #333d43;**/
}

body{
	/**background:url('../img/bg_head.jpg') repeat-x top center, url('../img/bg_tile.jpg') repeat-x; **/
	min-height:500px;
    /* width: 1280px; */
	/* font:14px/1.3 'Cabin Condensed',Arial, sans-serif; */
    font: 20px/1 Nunito,Arial,sans-serif;
	/*color: #888;
	/* padding:10px; */
}

/* p{
    margin: 0 0 0 250px;
}
 */
h1,h2{
/* 	color: #fff; */
 	line-height: 1;
/*	background-color: #222; */
	font-family: Cabin Condensed,Arial,sans-serif;
	font-weight: normal;
	margin: 0 auto;
/*	position: absolute; 
	left: 10%;
 	margin-left: -180px; */
}

p {
    padding: 20px;
    width : 500px;
}

h1{
	font-size: 40px;
	padding: 0px 15px 0px;
	text-align: center;
	top: 0px;
	margin-top: -30px;
}

h2{
	font-size: 14px;
	padding: 4px 13px 9px 11px;
	top: 51px;
}

/* header{
	display:block;
	position:relative;
} */

nav{
	display: block;
	margin: 2px auto 0;
	text-align: center;
	width: 900px;

}

footer{
	color: #BBBBBB;
	font-size: 15px;
	line-height: 1.6;
	padding: 10px 20px 0;
	text-align: center;
	display:block;
}

footer b{
	color: #888888;
	display: block;
	font-size: 10px;
	font-weight: normal;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}
/**************************************************************************************************/	
/******************* Menu CSS *********************************************************************/	
/**************************************************************************************************/	
.fancyNav{
    /* Affects the UL element */
    overflow: hidden;
    display: inline-block;
    margin: auto;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;

    box-shadow: 0 0 24px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 0 24px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 24px rgba(255, 255, 255, 0.6);
}

.fancyNav li{
    /* Specifying a fallback color and we define CSS3 gradients for the major browsers: */

    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

    border-right: 1px solid rgba(9, 9, 9, 0.125);

    /* Adding a 1px inset highlight for a more polished efect: */

    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    position:relative;

    float: left;
    list-style: none;
}
.fancyNav li:after{

    /* This creates a pseudo element inslide each LI */	

    content:'.';
    text-indent:-9999px;
    overflow:hidden;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    opacity:0;

    /* Gradients! */

    background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
    background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));

    /* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */

    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;

    /* This will create a smooth transition for the opacity property */

    -moz-transition:0.25s all;
    -webkit-transition:0.25s all;
    -o-transition:0.25s all;
    transition:0.25s all;
}
/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child{
    border-radius: 24px 0 0 24px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
    box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;

    border-radius:24px 0 0 24px;
}

.fancyNav li:last-child{
    border-radius: 0 24px 24px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;

    border-radius:0 24px 24px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
    /* This property triggers the CSS3 transition */
    opacity:1;
}
.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
    /* Hides the targeted li when we are hovering on the UL */
    opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
    opacity:1 !important;
}
/* Styling the anchor elements */

.fancyNav li a{
    color: #5d5d5d;
    display: inline-block;
/*     font: 20px/1 Cabin Condensed,Arial,sans-serif;*/
    padding: 12px 35px 14px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index:2;
    text-decoration:none !important;
    white-space:nowrap;
}

.fancyNav a.homeIcon{
    background:url('../img/home.png') no-repeat center center;
    display: block;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    text-indent: -9999px;
    width: 100px;
}

/**************************************************************************************************/	
/******************* tableau des valeurs instantanees *********************************************/	
/**************************************************************************************************/	
.TableInstant th{
    background-color: #f0f0f0;
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #D6D6D6 70%);
    border-right: 1px solid rgba(9, 9, 9, 0.125);
    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    position:relative;
    float: left;
    color: #5d5d5d;
    white-space:nowrap;
	width: 155px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    /* list-style: none; */
    /* Styling texte */
    /* display: inline-block; */
    /* font: 20px/1 Cabin Condensed,Arial,sans-serif; */
    /* padding: 8px 40px 10px 40px; */
    /*padding: 8px 45px 10px;*/
    /* text-shadow: 1px 1px 0 rgba(188, 176, 176, 0.6); */
    /* z-index:2; */
    /* text-decoration:none !important; */
}
.TableInstant th:first-child{
    border-radius: 24px 0 0 24px;
	text-align: left;
    padding: 8px 180px 10px 10px;
}
.TableInstant th:last-child{
    border-radius: 0 24px 24px 0;
}
/**************************************************************************************************/
.TableInstant td{
    background-color: #f0f0f0;
    background-image: linear-gradient(rgba(246, 80, 80, 0.64) 0%, #F58888 50%, #F00 90%) ;
    border-right: 0px solid rgba(9, 9, 9, 0.125);
    box-shadow: 0px -1px 0 rgba(255, 255, 255, 0.6) inset;
    position:relative;
    float: left;
    color: #5d5d5d;
    white-space:nowrap;
	width: 20px;
    /* list-style: none; */
    /* Styling texte */
    /* display: inline-block; */
    /* font: 20px/1 Cabin Condensed,Arial,sans-serif; */
    /* padding: 8px 40px 10px 40px; */
    /*padding: 8px 45px 10px;*/
    /* text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); */
    /* z-index:2; */
    /* text-decoration:none !important; */
}
 /* Treating the first LI and th:after elements separately */
.TableInstant td:first-child{
    border-radius: 24px 0 0 24px;
	text-align: center;
}
.TableInstant td:last-child{
    border-radius: 0 24px 24px 0;
    padding: 8px 40px 10px 20px;
    text-align: left;
    z-index:-1;
}

/**************************************************************************************************/
#gauche {
    position: absolute;
}
#droite {
    position: absolute;
    right: 0px;
}

/******ETAT**************************************************************/
#etat {
	margin: 0 auto 3px ;
	width: 400px;
    border-radius: 24px;
    color: #5d5d5d;
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #D6D6D6 70%);
    border-right: 1px solid rgba(9, 9, 9, 0.125);
    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    padding: 8px 40px 10px 40px;
    text-shadow: 1px 1px 0 rgba(188, 176, 176, 0.6);
	text-align: center;
}
/**************************************************************************************************/	
/******************* graphiques ******************************************************************/	
/**************************************************************************************************/	

#live {
	min-width: 400px;
    width: 1000px;
	height: 600px;
	margin: 0 auto;
}
#chart_last24 {
	min-width: 400px;
	height: 700px;
	margin: 0 auto;
}
.rel {
    width: 100%; /*1206px;*/
}
.graphe_gauge {
    display: inline-block;
    visibility: hidden;
	position: absolute;
    width: 150px;
	height: 200px;
	z-index: 10;
}
.graphe_gaugePos1{
	top: 90px;
	left: 80px;
}
.graphe_gaugePos2{
	top: 90px;
	left: 210px;
}

.graphe_size {
    display: inline-block;
	width: 99%;
	height: 40%;
}
.graphe_size2 {
    display: inline-block;
	width: 99%;
	height: 600px;
}
.graphe_size3 {
    display: inline-block;
	width: 25%;
	height: 40%;
}
.graphe_size4 {
    display: inline-block;
	width: 74%;
	height: 40%;
}
.calendar {
    width: 250px;
}

/**************************************************************************************************/	
/******************* Bandeau CSS ******************************************************************/	
/**************************************************************************************************/	

.clear{
	clear: both;
}

#new_version {
    display: inline-block;
	width: 100%;
	height: 20px;
    color: #5d5d5d;
	text-align: center;
    background-color: #f0f0f0;
	padding: 10px 0 30px 0;


}
/*************************************************************************************************/	
/******** dessin chaudiere************************************************************************/	
/*************************************************************************************************/	
/********tableau pour le dessin ********************************************************************/	
#tableau_dessin {
/*  border: 0px;
    border-collapse:collapse;
    padding:0px; 
    font-size: 0; */
    width: 1073px;
    height: 801px;
    margin: auto; 
    font-size: 16px ;

	font-weight: normal; 
    position: relative;
}

#image {
    /* position: relative; */
    cursor: pointer;
}
#bulles {
    cursor: pointer;
}

.hidden { 
    /* display:none ; */
   /*  background-color: red ; */
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear, transform 2s;
    transform: scale(0.7,0.7) ;
}
.visible  {
    position: relative;
    visibility:visible;
    opacity: 1;
    transition:  opacity 2s linear;
    transition:  opacity 2s linear, transform 2s;
    transform: scale(1,1) ;
    /* display:block ; */
}


/* position des images
    -------------
  A |   | 1 | 2 |
    -------------
  B |   | 1 | 2 | 
    -------------
  C |   | 1 | 2 |
    -------------
  D |   | 1 | 2 |
    -------------
  E |   | 1 | 2 |
    -------------
*/
/********animation des images ********************************************************************/	

/*********************************************************/
/*** LIGNE A *********************************************/
/***A1*****************************/
.extr_fixe {
    position: absolute;
    left: 300px;
	width: 217px;
	height: 112px;
	display: inline-block;
	background: url("../img/nano-A1.png") no-repeat;
    background-position: 0% ;
}
.extr_anime {
    position: absolute;
    left: 300px;
	width: 217px;
	height: 112px;
	display: inline-block;
	background: url("../img/nano-A1.png") no-repeat;
    animation: anim_extr .3s steps(9) infinite ;
}
@keyframes anim_extr {
    from { background-position: 0%; }
    to       { background-position: 112.5%; }
}
/***A2*****************************/
.RAPS_fixe {
    position: absolute;
    left: 517px;
	width: 256px;
	height: 112px;
	display: inline-block;
	background: url("../img/nano-A2.png") no-repeat;
    background-position: 0% ;
}
.RAPS_anime {
    position: absolute;
    left: 517px;
	width: 256px;
	height: 112px;
	display: inline-block;
	background: url("../img/nano-A2.png") no-repeat;
    animation: anim_RAPS .7s steps(5) infinite ;
}
@keyframes anim_RAPS {
    from { background-position: 0%; }
    to       { background-position: 125%; }
}
/*********************************************************/
/*** LIGNE B *********************************************/
/***B1*****************************/
.ressort_fumee {
    position: absolute;
    left: 300px;
    top: 112px;
	width: 217px;
	height: 301px;
	display: inline-block;
	background: url("../img/nano-B1.png") no-repeat;
    background-position: 0% ;
}
.ressort_fixe {
    position: absolute;
    left: 300px;
    top: 112px;
	width: 217px;
	height: 301px;
	display: inline-block;
	background: url("../img/nano-B1.png") no-repeat;
    background-position: 16.66% ;
}
.ressort_anime {
    position: absolute;
    left: 300px;
    top: 112px;
	width: 217px;
	height: 301px;
	display: inline-block;
	background: url("../img/nano-B1.png") no-repeat;
    animation: anim_ressort .5s steps(6) infinite alternate;
}
@keyframes anim_ressort {
    from { background-position: 16.66%; }
    to       { background-position: 116.66%; }
}
/***B2*****************************/
#nano-B2 {
    position: absolute;
    left: 517px;
    top: 112px;
	width: 256px;
	height: 301px;
	display: inline-block;
	background: url("../img/nano-B2.png") no-repeat;
    background-position: 0% ;
}
/*********************************************************/
/*** LIGNE C *********************************************/
/***C1*****************************/
.coeur_combustion {
    position: absolute;
    left: 300px;
    top: 413px;
	width: 217px;
	height: 187px;
	display: inline-block;
	background: url("../img/nano-C1.png") no-repeat;
    animation: anim_flamme .5s steps(5) infinite alternate;
}
@keyframes anim_flamme {
    from { background-position: 20%; }
    to       { background-position: 120%; }
}

.coeur_eteint {
    position: absolute;
    left: 300px;
    top: 413px;
	width: 217px;
	height: 187px;
	display: inline-block;
	background: url("../img/nano-C1.png") no-repeat;
    background-position: 0% ;
}
/***C2*****************************/
#nano-C2 {
    position: absolute;
    left: 517px;
    top: 413px;
	width: 256px;
	height: 187px;
	display: inline-block;
	background: url("../img/nano-C2.png") no-repeat;
    background-position: 0% ;
}
/*********************************************************/
/*** LIGNE D *********************************************/
/***D1*****************************/
.foyer_eteint {
    position: absolute;
    left: 300px;
    top: 600px;
	width: 162px;
	height: 50px;
	display: inline-block;
	background: url("../img/nano-D1.png") no-repeat;
    background-position: 0% ;
}
.foyer_veille {
    position: absolute;
    left: 300px;
    top: 600px;
	width: 162px;
	height: 50px;
	display: inline-block;
	background: url("../img/nano-D1.png") no-repeat;
    background-position: 25% ;
}
.foyer_allumage {
    position: absolute;
    left: 300px;
    top: 600px;
	width: 162px;
	height: 50px;
	display: inline-block;
	background: url("../img/nano-D1.png") no-repeat;
    background-position: 50% ;
}
.foyer_reprise {
    position: absolute;
    left: 300px;
    top: 600px;
	width: 162px;
	height: 50px;
	display: inline-block;
	background: url("../img/nano-D1.png") no-repeat;
    background-position: 75% ;
}
.foyer_combustion {
    position: absolute;
    left: 300px;
    top: 600px;
	width: 162px;
	height: 50px;
	display: inline-block;
	background: url("../img/nano-D1.png") no-repeat;
    background-position: 100% ;
}
/***D2*****************************/
.vis_stop {
    position: absolute;
    left: 462px;
    top: 600px;
	width: 311px;
	height: 50px;
	display: inline-block;
	background: url("../img/nano-D2.png") no-repeat;
    background-position: 0% ;
}
.vis_marche {
    position: absolute;
    z-index:-1;
    left: 462px;
    top: 600px;
	width: 311px;
	height: 50px;
	display: inline-block;
	background: url("../img/nano-D2.png") no-repeat;
    animation: anim_vis 1s steps(5) infinite ;
}
@keyframes anim_vis {
    from { background-position: 0%; }
    to       { background-position: 125%; }
}
/*********************************************************/
/*** LIGNE E *********************************************/
/***E1*****************************/
.cendrier_ferme {
    position: absolute;
    left: 300px;
    top: 650px;
	width: 217px;
	height: 151px;
	display: inline-block;
	background: url("../img/nano-E1.png") no-repeat;
    background-position: 25% ;
}
.cendrier_ventil {
    position: absolute;
    left: 300px;
    top: 650px;
	width: 217px;
	height: 151px;
	display: inline-block;
	background: url("../img/nano-E1.png") no-repeat;
    background-position: 0% ;
}
.cendrier_ouvert {
    position: absolute;
    left: 300px;
    top: 650px;
	width: 217px;
	height: 151px;
	display: inline-block;
	background: url("../img/nano-E1.png") no-repeat;
    background-position: 100% ;
}
.cendrier_mouvt {
    position: absolute;
    left: 300px;
    top: 650px;
	width: 217px;
	height: 151px;
	display: inline-block;
	background: url("../img/nano-E1.png") no-repeat;
    animation: anim_cendrier 1s steps(4) infinite alternate;
}
@keyframes anim_cendrier {
    from { background-position: 25%; }
    to       { background-position: 125%; }
}
/**********************************/
#nano-E2 {
    position: absolute;
    left: 517px;
    top: 650px;
	width: 256px;
	height: 151px;
	display: inline-block;
	background: url("../img/nano-E2.png") no-repeat;
    background-position: 0% ;
}
/********Bulles et valeurs ********************************************************/	
/**********************************************************************************/
/*** BULLES ********************************/
.extr-bulle {
    position: absolute;
    z-index: 2;
    left: -100px;
	top: -40px;
    width: 446px;
	height: 200px;
	display: inline-block;
	background: url("../img/bulles.png") no-repeat;
    background-position: 0% ;
}
.fumee-bulle {
    position: absolute;
    z-index: 2;
    left: 0px;
	top: 130px;
    width: 446px;
	height: 200px;
	display: inline-block;
	background: url("../img/bulles.png") no-repeat;
    background-position: 16.66% ;
}
.Tchaud-bulle {
    position: absolute;
    z-index: 2;
    left: -40px;
	top: 310px;
    width: 446px;
	height: 200px;
	display: inline-block;
	background: url("../img/bulles.png") no-repeat;
    background-position: 33.33% ;
}
.puiss-bulle {
    position: absolute;
    z-index: 2;
    left: -10px;
	top: 500px;
    width: 446px;
	height: 200px;
	display: inline-block;
	background: url("../img/bulles.png") no-repeat;
    background-position: 50% ;
}
.bois-bulle {
    position: absolute;
    z-index: 2;
    left: 600px;/*630px;*/
	top: 615px;
    width: 446px;
	height: 200px;
	display: inline-block;
	background: url("../img/bulles.png") no-repeat;
    background-position: 83.33% ;
}
.silo-bulle {
    position: absolute;
    z-index: 2;
    left: 670px;
	top: 370px; /*320px;*/
    width: 446px;
	height: 300px;
	display: inline-block;
	background: url("../img/bulle-silo.png") no-repeat;
}
.maison-bulle {
    position: absolute;
    z-index: 2;
    left: 750px;
	top: -50px;
    width: 446px;
	height: 600px;
	display: inline-block;
	background: url("../img/maison.png") no-repeat;
}
	#pompe-radiat {
		position: absolute;
		z-index: 2;
		left: 60px;
		top: 260px;
		width: 100px;
		height: 135px;
		display: inline-block;
	}
	#ballonECS-bulle {
		position: absolute;
		z-index: 2;
		left: 95px;
		top: 0px;
		width: 446px;
		height: 300px;
		display: inline-block;
	}
	.tuyau-ECS {
		position: absolute;
		z-index: 1;
		left: 0px;
		top: 0px;
		width: 446px;
		height: 600px;
		display: inline-block;
		background: url("../img/tuyauECS.png") no-repeat;
	}
	.ballonECS-0 {
		background: url("../img/ballonECS.png") no-repeat;
		background-position: 0% ; /*11 images 0% 10%... */
	}
	.ballonECS-10 {
		background: url("../img/ballonECS.png") no-repeat;
		background-position: 10% ; 
	}
	.ballonECS-20 {
		background: url("../img/ballonECS.png") no-repeat;
		background-position: 20% ; 
	}
	.ballonECS-30 {
		background: url("../img/ballonECS.png") no-repeat;
		background-position: 30% ; 
	}
	.ballonECS-40 {
		background: url("../img/ballonECS.png") no-repeat;
		background-position: 40% ; 
	}
	.ballonECS-50 {
		background: url("../img/ballonECS.png") no-repeat;
		background-position: 50% ; 
	}
	.ballonECS-60 {
		background: url("../img/ballonECS.png") no-repeat;
		background-position: 60% ; 
	}
	.ballonECS-70 {
		background: url("../img/ballonECS.png") no-repeat;
		background-position: 70% ; 
	}
	.ballonECS-80 {
		background: url("../img/ballonECS.png") no-repeat;
		background-position: 80% ; 
	}
	.ballonECS-90 {
		background: url("../img/ballonECS.png") no-repeat;
		background-position: 90% ; 
	}
	.ballonECS-100 {
		background: url("../img/ballonECS.png") no-repeat;
		background-position: 100% ; 
	}
		#pompe-ECS {
			position: absolute;
			z-index: 2;
			left: 125px;
			top: 260px;
			width: 100px;
			height: 135px;
			display: inline-block;
		}
.pompeOFF {
	background: url("../img/pompe.png") no-repeat;
	background-position: 0% ; /* 2 images : 0%  100% */
}
.pompeON {
	background: url("../img/pompe.png") no-repeat;
    animation: anim_pompe 0.3s steps(5) infinite ;
}
@keyframes anim_pompe {
    from { background-position: 20%; }
    to       { background-position: 120%; }
}

	/*** TEXTE BULLE*************************/
.texte-bulle {
    position: relative;
	display: block;
    z-index: 3;
    top: 115px;
    font-size: 40px ;
    text-align: center;
}
.radiateur-texte {
    position: relative;
	display: block;
    z-index: 3;
    top: 165px;
    left: 75px;
    font-size: 20px ;
}
.BallonECS-texte {
    position: relative;
	display: block;
    z-index: 3;
    top: 100px;
    left: 200px;
    font-size: 20px ;
}
.maison-Tint-texte {
    position: relative;
    z-index: 3;
    left: 125px;
    top: 110px;
    font-size: 20px ;
}
.maison-Text-texte {
    position: relative;
    z-index: 3;
    left: 155px;
    top: 15px;
    font-size: 20px ;
}
.silo-texte {
   /* float: right;*/
    position: absolute;
    z-index: 0;
    left: 230px;
    bottom: 70px;
    width: 140px;
    height: 163px;
	display: inline-block;
  /* background: url("../img/Silo-textile-GWTS-XXL2.png") no-repeat; */

}
#silo {
    position: absolute;
    z-index: 0;
    left: 220px;
    top: 43px;
    width: 180px;
    height: 200px;
}
/*** TOOLTIP ********************************/
#tooltip_Tint { /* zone de survol*/
    position: absolute;
    left: 70px;
	top: 90px;
    width: 140px;
	height: 60px;
    z-index: 5;
}
#tooltip_Text { /* zone de survol*/
    position: absolute;
    left: 150px;
	top: 0px;
    width: 140px;
	height: 60px;
    z-index: 7;
}
#tooltip_chauffage { /* zone de survol*/
    position: absolute;
    left: 70px;
	top: 170px;
    width: 140px;
	height: 60px;
    z-index: 6;
}
.tooltip-general { /* zone de survol*/
    position: absolute;
    left: 130px;
	top: 45px;
    width: 185px;
	height: 120px;
    z-index: 5;
}
.tooltip  a{
    display:none;
}
.tooltip:hover a{ /* tooltip */
    display : block;
    text-decoration:none ;
    border-radius: 20px;
    position: relative;
    text-align: center;
    line-height: 50px;
    color: black;
    left: -50px;
	top: -50px;
    width: 400px;
	height: 50px;
    background: linear-gradient(white,red);
    /* background:url("../img/nano-E2.png") no-repeat;   */
    animation: pop-tooltip 1s ; 
}
@keyframes pop-tooltip {
    0%  { transform: scale(0.1); }
    60%  { transform: scale(1); }
    80%  { transform: scale(0.9); }
    100%{ transform: scale(1); }
}
